{% extends 'Pharm/admin/base.html'%}
{% block body %}
{% load static %}

<div class="bg-gray-100 flex-1 p-6 md:mt-16"> 

  <div class="card bg-gray-100 shadow-md text-black" style="width: 40%; text-align: center;">
    <div class="card-body flex flex-row items-center w-full h-full">
        <!-- image -->
        <div class="img-wrapper w-40 h-40 flex justify-center items-center m-auto">
            <img src="{{ object.photo.url }}" alt="img title">
        </div>
        <!-- end image -->
    </div>
    <div class="py-2">
      <h1 class="h6">About {{object.name}}</h1>
      <p class="text-black text-md">{{object.description}}</p>
    </div>

    <div class="py-2">
      <h1 class="h6">Available at:</h1>
      <p class="text-black text-md">{{object.pharm_id.name}}</p>
    </div>

    <div class="py-2">
      <h1 class="h6">Price tag</h1>
      <p class="text-black text-md">{{object.price}}</p>
    </div>

</div>
</div>
<script type="text/javascript">
  setTimeout(() => {
    document.querySelector('.alert').style.display = 'none';
  },5000)
</script>
{% endblock %}