  {% extends 'Restuarant/homepage/base.html'%}
  {% block body %}
  {% load static %}
  
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'Restuarant/hompageUI/images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are {{company.name}}
              </h2>
            </div>
            <p>
              {{company.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}
  